
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TUBG</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#main">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="fee#main">Fee</a></li>
            <li class="nav-item"><a class="nav-link" href="access#main">Access</a></li>
            <li class="nav-item"><a class="nav-link" href="business-hours#main">Business Hours</a></li>
            <li class="nav-item"><a class="nav-link" href="goods#main">GOODS</a></li>
            <li class="nav-item"><a class="nav-link" href="food-restaurant#main">Food &amp; Restaurant</a></li>
            <li class="nav-item"><a class="nav-link" href="event#main">Event</a></li>
        </ul>
    </div>
</nav>
